RewriteEngine On

RewriteRule ^accueil.html$ /controllers/homeCtrl.php [L]

RewriteRule ^mentions-legales.html$ /controllers/legalNoticeCtrl.php [L]

RewriteRule ^conditions-generales-d-utilisation.html$ /controllers/cguCtrl.php [L]

RewriteRule ^catalogue.html$ /controllers/catalogCtrl.php [L]

RewriteRule ^livre-d-or.html$ /controllers/goldenBookCtrl.php [L]

RewriteRule ^galerie.html$ /controllers/galleryCtrl.php [L]


RewriteRule ^connection.html$ /controllers/connexionCtrl.php [L]

RewriteRule ^inscription.html$ /controllers/formSubscribeCtrl.php [L]

RewriteRule ^changer-de-mot-de-passe.html$ /controllers/forgetPassword/formChangePasswordCtrl.php [L]

RewriteRule ^mot-de-passe-oublié.html$ /controllers/forgetPassword/formForgetPasswordCtrl.php [L]

RewriteRule ^mon-compte.html$ /controllers/userAccount/userAccountCtrl.php [L]

RewriteRule ^mon-compte-mon-dressing.html$ /controllers//userAccount/dressingUserCtrl.php [L]

RewriteRule ^mon-compte-ma-galerie.html$ /controllers//userAccount/galleryUserCtrl.php [L]

RewriteRule ^mon-compte-mes-achats.html$ /controllers//userAccount/ordersUserCtrl.php [L]

RewriteRule ^mon-compte-mes-informations.html$ /controllers//userAccount/profilAccountCtrl.php [L]


RewriteRule ^admin.html$ /controllers/dashboard/dashboardCtrl.php [L]

RewriteRule ^admin-utilisateurs.html$ /controllers/dashboard/dashboardCtrl.php [L]

RewriteRule ^admin-catalogue.html$ /controllers/dashboard/getAllCatalogCtrl.php [L]

RewriteRule ^admin-galerie.html$ /controllers/dashboard/getAllGalleriesCtrl.php [L]

RewriteRule ^admin-livre-d-or.html$ /controllers/dashboard/getAllCommentCtrl.php [L]

RewriteRule ^admin-livre-d-or.html$ /controllers/dashboard/getAllOrdersCtrl.php [L]

RewriteRule ^erreur.html$ /controllers/errorCtrl.php [L]

RewriteRule ^page-non-trouvee.html$ /controllers/error404Ctrl.php [L]

ErrorDocument 404 /controllers/error404Ctrl.php

