RewriteEngine On

RewriteRule ^accueil.html$ /controllers/homeCtrl.php [L]

RewriteRule ^mentions-legales.html$ /controllers/legalNoticeCtrl.php [L]

RewriteRule ^conditions-generales-d-utilisation.html$ /controllers/cguCtrl.php [L]

RewriteRule ^catalogue.html$ /controllers/catalog/catalogCtrl.php [L]

RewriteRule ^livre-d-or.html$ /controllers/goldenBookCtrl.php [L]

RewriteRule ^ajouter-un-commentaire.html$ /controllers/addCommentCtrl.php [L]

RewriteRule ^galerie.html$ /controllers/gallery/galleryCtrl.php [L]

RewriteRule ^connexion.html$ /controllers/signInCtrl.php [L]

RewriteRule ^inscription.html$ /controllers/signUpCtrl.php [L]

RewriteRule ^changer-de-mot-de-passe.html$ /controllers/forgetPassword/formChangePasswordCtrl.php [L]

RewriteRule ^mot-de-passe-oublie.html$ /controllers/forgetPassword/formForgetPasswordCtrl.php [L]




RewriteRule ^mon-compte.html$ /controllers/userAccount/userAccountCtrl.php [L]

RewriteRule ^mon-compte-mon-dressing.html$ /controllers/userAccount/dressingUserCtrl.php [L]

RewriteRule ^mon-compte-ma-galerie.html$ /controllers/userAccount/galleryUserCtrl.php [L]

RewriteRule ^mon-compte-mes-achats.html$ /controllers/userAccount/Orders/ordersUserCtrl.php [L]

RewriteRule ^mon-compte-mes-achats-details.html$ /controllers/userAccount/Orders/detailsOrderCtrl.php [L]

RewriteRule ^mon-compte-je-commande.html$ /controllers/userAccount/commandCtrl.php [L]

RewriteRule ^mon-compte-mes-informations.html$ /controllers/userAccount/profilAccountCtrl.php [L]

RewriteRule ^mon-compte-mes-messages.html$ /controllers/userAccount/Comments/commentsCtrl.php [L]

RewriteRule ^mon-compte-modifier-un-message.html$ /controllers/userAccount/Comments/updateCommentCtrl.php [L]




RewriteRule ^admin-les-inscrits.html$ /controllers/dashboard/Users/dashboardCtrl.php [L]

RewriteRule ^admin-ajouter-un-inscrit.html$ /controllers/dashboard/Users/addUserCtrl.php [L]

RewriteRule ^admin-modifier-un-inscrit.html$ /controllers/dashboard/Users/getUserCtrl.php [L]


RewriteRule ^admin-catalogue.html$ /controllers/dashboard/Catalogs/getAllCatalogsCtrl.php [L]

RewriteRule ^admin-ajouter-un-article.html$ /controllers/dashboard/Catalogs/addCatalogCtrl.php [L]

RewriteRule ^admin-modifier-un-article.html$ /controllers/dashboard/Catalogs/getCatalogCtrl.php [L]


RewriteRule ^admin-galerie.html$ /controllers/dashboard/Galleries/getAllGalleriesCtrl.php [L]

RewriteRule ^admin-ajouter-une-oeuvre.html$ /controllers/dashboard/Galleries/addGalleryCtrl.php [L]

RewriteRule ^admin-modifier-une-oeuvre.html$ /controllers/dashboard/Galleries/getGalleryCtrl.php [L]


RewriteRule ^admin-livre-d-or.html$ /controllers/dashboard/GoldenBook/getAllCommentsCtrl.php [L]

RewriteRule ^admin-ajouter-un-commentaire.html$ /controllers/dashboard/GoldenBook/addCommentCtrl.php [L]

RewriteRule ^admin-modifier-un-commentaire.html$ /controllers/dashboard/GoldenBook/getCommentCtrl.php [L]


RewriteRule ^admin-commandes.html$ /controllers/dashboard/Orders/getAllOrdersCtrl.php [L]

RewriteRule ^admin-ajouter-une-commande.html$ /controllers/dashboard/Orders/addAllOrdersCtrl.php [L]

RewriteRule ^admin-modifier-une-commande.html$ /controllers/dashboard/Orders/getOrderCtrl.php [L]




RewriteRule ^erreur.html$ /controllers/errorCtrl.php [L]

RewriteRule ^page-non-trouvee.html$ /controllers/error404Ctrl.php [L]

ErrorDocument 404 /controllers/error404Ctrl.php

