/* font-family: 'Fondamento', cursive; */

@font-face {
    font-family: "Black Clover Font";
    src: url("./BlackCloverFont.ttf") format("ttf");
}

@font-face {
    font-family: "BD Renaissance";
    src: url("./BDRENAIS.TTF") format("ttf");
}


/* générale */

body {
    font-family: "Black Clover Font";
    letter-spacing: 1px;
    /* font-family: 'Fondamento', cursive; */
    background-image: url(../img/patternrouge.png),
        linear-gradient(to bottom, #ffebcd, #ffebcd);
    background-repeat: repeat, no-repeat;
    opacity: 0.1, 0.2;
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 0.8rem;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #03182d;
    border: 1px solid #a47a07;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #a47a07;
    /* color of the scroll thumb */
    border-radius: 0.5rem;
    /* roundness of the scroll thumb */
    border: 1px solid #f4e6c6;
    /* creates padding around scroll thumb */
}


/* header */

header {
    background-color: #03182D;
}

.logo {
    width: 6rem;
}

.logo:hover {
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    text-decoration: none;
    font-size: 3rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour les liens */
.navbar-default .navbar-nav>li>a {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #a47a07;
    background-color: transparent;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #a47a07;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: #a47a07;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    transform: translateY(4px);
}


/* remplacement toggle-icon par une image */
.navbar-toggler-icon {
    background-image: url("../img/chandelier3.png");
    width: 4rem;
    height: 3rem;
    object-fit: fill;
    border: none;
}

.navbar-toggler-icon:active {
    border: none;
}

/* header account */

.avatarUser {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #a47a07;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


@media (max-width:800px) {

    .pseudoUser {
        font-size: 1.5rem;
    }
}



@media(max-width:930px) {
    .titleRoxylyaR {
        display: none;
    }
}

@media (max-width: 540px) {
    .userAccount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-toggler-icon {
        width: 4rem;
        padding-bottom: 1rem;
    }

}

@media (min-width: 540px) {
    .userAccount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}


/* main */

main {
    color: #03182D;
    font-size: 1.3rem;
    font-family: 'Fondamento', cursive;
    text-shadow: 0px 2px 3px rgba(30, 15, 15, 0.5);
}

.bdRenaissanceH1 {
    font-size: 4rem;
    font-family: "BD Renaissance";
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.bdRenaissanceH2 {
    font-size: 3.5rem;
    font-family: "BD Renaissance";
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.bdRenaissanceP {
    font-size: 3rem;
    font-family: "BD Renaissance";
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

h1 {
    font-size: 3.2rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-family: "Black Clover Font";
}

li {
    list-style: none;
}

h2 {
    font-size: 2.5rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-family: "Black Clover Font";
}

.bgHomeText {
    background-color: #03182D;
    border-top: 0.5rem groove #8a551a;
    border-bottom: 0.5rem groove #8a551a;
}

.homeText {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-size: 1.6rem;
}


.logoRR {
    width: 15rem;
}

.chandlierReturn {
    width: 8rem;
}

.chandlierReturn:active {
    transform: translateY(4px);
}


/* carousel */

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-150%);
}

.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -200%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 2s ease-in-out;
}



/* mentions légales */
.source {
    font-size: 1rem;
}

.aCompleter {
    color: rgb(128, 9, 9);
}

/* formulaire d'inscription */

.error {
    color: rgb(128, 9, 9);
    text-shadow: 0px 2px 2px rgb(164, 122, 7, 0.5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;

}

.createAccount {
    background-color: #a47a0723;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

label {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-size: 1.4rem;
}

.btn {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1.5rem;
    color: #a47a07c3;
    width: 8rem;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
.uneditable-input:focus {
    border-color: rgb(169, 127, 7, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(3, 24, 45, 0.6);
    outline: 0 none;
}

.form-control {
    border: 1px solid rgb(169, 127, 7);
}

input:not(:placeholder-shown) {
    background-color: #f5e9c9 !important;
}

input:placeholder-shown {
    background-color: #f5e9c9 !important;
}

@media (min-width: 600px) {
    .createAccount {
        width: 50%;
    }

}

/* formulaire de connexion */

@media (min-width: 600px) {
    .connect {
        width: 50%;
    }
}

.connect {
    background-color: #a47a0723;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.little,
.little>a {
    font-size: 1rem;
    margin-bottom: -0.2rem;
}


/* Catalogue */

.outfit {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 1rem;
}

.outfitTitle {
    font-size: 2rem;
}

.outfitDescription {
    font-size: 1rem;
    color: #03182D;
    font-family: 'Fondamento', cursive;
    text-align: justify;
}




/* userAccount */

.actionUser,
.lookUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilUser {
    background-color: #a47a0723;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.avatarProfil {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #a47a07;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btnUserAccount {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1rem;
    color: #a47a07c3;
    width: 12rem;
    height: 7rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: "Black Clover Font";
}

.btnUserAccount>img {
    width: 3rem;
    height: 3rem;
}

@media(min-width:550px) and (max-width:800px) {

    .actionUser,
    .lookUser {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .profilUser {
        background-color: #a47a0723;
        border-radius: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .avatarProfil {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #a47a07;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    .btnUserAccount {
        background-color: #03182D;
        border: 1px solid #A97F07;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        font-size: 1rem;
        color: #a47a07c3;
        width: 16rem;
        height: 7rem;
        text-align: center;
        margin: 1rem;
        padding: 0.5rem;
        font-family: "Black Clover Font";
    }

    .btnUserAccount>img {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width:801px) and (max-width:1199px) {
    .profilUser {
        background-color: #a47a0723;
        border-radius: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .actionUser,
    .lookUser {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

@media(min-width:1200px) {

    .profilUser {
        background-color: #a47a0723;
        border-radius: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .actionUser,
    .lookUser {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btnUserAccount {
        background-color: #03182D;
        border: 1px solid #A97F07;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        font-size: 1.5rem;
        color: #a47a07c3;
        width: 12rem;
        height: 7rem;
        text-align: center;
        margin: 2rem;
        padding: 0.5rem;
        font-family: "Black Clover Font";
    }

    .btnUserAccount>img {
        width: 3rem;
        height: 3rem;
    }

    .avatarProfil {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #a47a07;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
}

.exitDoor {
    width: 3rem;
}

/* footer */

footer {
    background-color: #03182D;
    border-top: 7px groove #8a551a;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

a:hover {
    color: #a47a07;
}

a:active {
    transform: translateY(4px);
}

.copyright {
    font-size: 1rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}