/* font-family: 'Fondamento', cursive; */

@font-face {
    font-family: "Black Clover Font";
    src: url("./BlackCloverFont.ttf") format("ttf");
}

@font-face {
    font-family: "BD Renaissance";
    src: url("./BDRENAIS.TTF") format("ttf");
}


/* générale */

body {
    font-family: "Black Clover Font";
    letter-spacing: 1px;
    /* font-family: 'Fondamento', cursive; */
    background-image: url(../img/patternrouge.png),
        linear-gradient(to bottom, #ffebcd, #ffebcd);
    background-repeat: repeat, no-repeat;
    opacity: 0.1, 0.2;
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 0.8rem;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #03182d;
    border: 1px solid #a47a07;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #a47a07;
    /* color of the scroll thumb */
    border-radius: 0.5rem;
    /* roundness of the scroll thumb */
    border: 1px solid #f4e6c6;
    /* creates padding around scroll thumb */
}


/* header */

header {
    background-color: #03182D;
}

.logo {
    width: 6rem;
}

.logo:hover {
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    text-decoration: none;
    font-size: 3rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.navbar-brand:hover {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-link:hover {
    color: #a47a07;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    transform: translateY(4px);
}


/* remplacement toggle-icon par une image */
.navbar-toggler-icon {
    background-image: url("../img/chandelier3.png");
    width: 6rem;
    height: 3rem;
    object-fit: fill;
    border: none;
}

.navbar-toggler-icon:active {
    border: none;
}

/* header account */

.avatarUser {
    max-height: 5rem;
    border-radius: 50%;
}


@media (max-width:800px) {

    .pseudoUser {
        font-size: 1.5rem;
    }
}



@media(max-width:930px){
    .titleRoxylyaR {
        display: none;
    }
}

@media (max-width: 630px) {
    .userAccount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media (min-width: 630px) {
    .userAccount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}

/* main */

main {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-size: 2rem;
}

.bdRenaissance {
    font-family: "BD Renaissance";
    /* color: #a47a07; */
    font-size: 3rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

h1 {
    font-size: 3.2rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.bdRenaissanceH1 {
    font-family: "BD Renaissance";
    /* color: #a47a07; */
    font-size: 3.5rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.bgAccueilText {
    background-color: #03182D;
    border-top: 0.5rem groove #8a551a;
    border-bottom: 0.5rem groove #8a551a;
}

.accueilText {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-size: 2rem;
}

.chandlierReturn {
    width: 8rem;
}

.chandlierReturn:active {
    transform: translateY(4px);
}


/* carousel */

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-150%);
}

.carousel-item {
    position: relative;
    /* display: none; */
    float: left;
    width: 100%;
    margin-right: -200%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 3s ease-in-out;
}


/* cgu et mentionslégales */

.bgcgu {
    color: #03182D;
    padding: 2rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    font-family: 'Fondamento', cursive;
    text-shadow: 0px 2px 3px rgba(30, 15, 15, 0.5);
}

li {
    list-style: none;
}

.bgcgu>div>h2 {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

/* mentions légales */
.source {
    font-size: 1rem;
}

.aCompleter {
    color: rgb(128, 9, 9);
}

/* formulaire d'inscription */

.error {
    color: rgb(128, 9, 9);
    text-shadow: 0px 2px 2px rgb(164, 122, 7, 0.5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;

}

.createAccount {
    background-color: #a47a0723;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

label {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    font-size: 1.7rem;
}

.btn {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1.5rem;
    color: #a47a07c3;
    width: 8rem;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
.uneditable-input:focus {
    border-color: rgb(169, 127, 7, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(3, 24, 45, 0.6);
    outline: 0 none;
}

.form-control {
    border: 1px solid rgb(169, 127, 7);
}

input:not(:placeholder-shown) {
    background-color: #f5e9c9 !important;
}

input:placeholder-shown {
    background-color: #f5e9c9 !important;
}

@media (min-width: 600px) {
    .createAccount {
        width: 50%;
    }

}

/* formulaire de connexion */

@media (min-width: 600px) {
    .connect {
        width: 50%;
    }
}

.connect {
    background-color: #a47a0723;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


/* Catalogue */

.outfit {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 1rem;
}

.outfitTitle {
    font-size: 2rem;
}

.outfitDescription {
    font-size: 1rem;
    color: #03182D;
    font-family: 'Fondamento', cursive;
    text-align: justify;
}

/* footer */

footer {
    background-color: #03182D;
    border-top: 7px groove #8a551a;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

a:hover {
    color: #a47a07;
}

a:active {
    transform: translateY(4px);
}

.logoRR {
    width: 10rem;
}

.copyright {
    font-size: 1rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}