/* polices */

/* font-family: 'Fondamento', cursive; */

@font-face {
    font-family: "Black Clover Font";
    src: url("./BlackCloverFont.ttf") format("ttf");
}

@font-face {
    font-family: "BD Renaissance";
    src: url("./BDRENAIS.TTF") format("ttf");
}

/* =================================================================================================== */

/* scrollbar */

body::-webkit-scrollbar {
    width: 0.8rem;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #03182d;
    border: 1px solid #A97F07;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #A97F07;
    /* color of the scroll thumb */
    border-radius: 0.5rem;
    /* roundness of the scroll thumb */
    border: 1px solid #03182d;
    /* creates padding around scroll thumb */
}

/* =================================================================================================== */

/* générale */

body {
    /* font-family: 'Fondamento', cursive; */
    background-image: url(../img/patternrouge.png),
        linear-gradient(to bottom, #ffebcd, #ffebcd);
    background-repeat: repeat, no-repeat;
    opacity: 0.1, 0.2;
}

li {
    list-style: none;
}

.bgBlue {
    background-color: #03182D;
}

.bgGold {
    background-color: #A97F07;
}

.bgWhite {
    background-color: #eee1c3;
}

.blue {
    color: transparent;
    background: #03182D;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.gold {
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.red {
    color: transparent;
    background: #800909;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

.bdRenaissanceH1 {
    font-size: 4rem;
    font-family: "BD Renaissance";
}

.bdRenaissanceH2 {
    font-size: 3.5rem;
    font-family: "BD Renaissance";
}

.bdRenaissanceH3 {
    font-size: 3rem;
    font-family: "BD Renaissance";
}

.bdRenaissanceP {
    font-size: 3rem;
    font-family: "BD Renaissance";
}

.blackClover {
    font-family: "Black Clover Font";
    letter-spacing: 1px;
}

.fondamento {
    font-family: "Fondamento";
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.5rem;
}

.small {
    font-size: 0.7rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 2rem;
}

.xLarge {
    font-size: 3rem;
}

.justify {
    text-align: justify;
}

/* logo jeu les royaumes renaissants */
.logoRR {
    width: 15rem;
}

/* chandelier retour vers le haut de la page */
.chandlierReturn {
    width: 8rem;
}

.chandlierReturn:active {
    transform: translateY(4px);
}

.borderGold {
    border-top: 0.5rem groove #8a551a;
    border-bottom: 0.5rem groove #8a551a;
}

.box {
    border-radius: 1rem;
    border: 1px solid #A97F07;
    box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 1);
}

.box>p {
    text-align: justify;
}


.exitDoor {
    width: 2rem;
    margin-bottom: -0.5rem;
}

a {
    color: #03182D;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 1s;
}

a:hover,
a:focus {
    color: #a47a07;
}

a:active {
    color: #a47a07;
    transform: translateY(4px);
}



/* =================================================================================================== */

/* header */

.logo {
    width: 6rem;
}

.logo:hover {
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    text-decoration: none;
    font-size: 3rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour les liens */
.navbar-default .navbar-nav>li>a {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #a47a07;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #a47a07;
    background-color: transparent;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #a47a07;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: #a47a07;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    transform: translateY(4px);
}

/* remplacement toggle-icon par une image */
.navbar-toggler-icon {
    background-image: url("../img/chandelier3.png");
    width: 4rem;
    height: 2rem;
    object-fit: fill;
    border: none;
    margin-left: 3rem;
}

.navbar-toggler-icon:active {
    border: none;
}




/* =================================================================================================== */
/* headerAccount */

.avatarUser {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #a47a07;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media(max-width:500px) {
    .titleRoxylyaR {
        display: none;
    }
}




/* =================================================================================================== */

/* carousel */

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%);
}

.carousel-item {
    position: relative;
    float: left;
    object-fit: contain;
    width: 100%;
    margin-right: -150%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 2s ease-in-out;
}


/* =================================================================================================== */
/* formulaire d'inscription */

.btn {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1.5rem;
    color: #a47a07c3;
    width: 8rem;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
.uneditable-input:focus,
select:focus {
    border-color: rgb(169, 127, 7, 0.8);
    outline: 0 none;
}

select{
    border-color: rgb(169, 127, 7, 0.8);
    outline: 0 none;
}

.form-control, .form-select {
    border: 1px solid rgb(169, 127, 7);
   
}

.form-select:focus, .form-select:active, .form-select:hover, .form-control:focus, .form-control:active, te.form-controlxtarea:hover {
    outline: 0 none;
    border : none;
    box-shadow: none;
}


.checkCgu>label>a,
.checkCgu>label>a:hover,
.checkCgu>label>a:focus,
.checkCgu>label>a:active {
    color: #03182D;
}

/* checkbox */

/* j'efface la version bootstrap */
/* input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
} */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: '';
    border: 1px solid rgb(169, 127, 7);
    border-radius: 0.3rem;
    padding: 0 0.6rem;
    margin-right: 0.3rem;
}

input[type="checkbox"]:checked+label::before {
    background-color: rgb(169, 127, 7);
    content: '✔';
    font-size: 1rem;
    padding: 0 0.2rem;
    color: #03182D;
    border: 1px solid #03182D;
}

/* =================================================================================================== */
/* formulaire de connexion */

.connect {
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.little,
.little>a {
    font-size: 1rem;
    margin-bottom: -0.2rem;
}

.little>a:focus,
.little>a:active,
.little>a:hover {
    color: #03182D;
}

/* =================================================================================================== */
/* userAccount */

.avatarProfil {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #a47a07;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btnUserAccount {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1.5rem;
    color: #a47a07c3;
    width: 12rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: "Black Clover Font";
}

.btnUserAccount>img {
    width: 3rem;
    height: 3rem;
}

.delete {
    font-size: 1rem;

}

.delete:hover,
.delete:focus,
.delete:active {
    font-size: 1rem;
    color: #03182D;
}

.delete:active {
    transform: translateY(2px);
}


.btnChoice>a>.btnNo {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 2rem;
    color: #a47a07c3;
    width: 8rem;
    height: 4rem;
    font-family: 'Black Clover Font';
}

.btnChoice>a>.btnDelete {
    background-color: #2d0b03;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 2rem;
    color: #a47a07c3;
    width: 8rem;
    height: 4rem;
    font-family: 'Black Clover Font';
}



/* =================================================================================================== */
/* profilAccount (update data) */

.btn-update {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 3rem;
    padding: 0.5rem;
}

.btn-update>img {
    width: 2rem;
}

.update>div>div>textarea:focus,
.update>div>div>input[type="text"]:focus,
.update>div>div>input[type="password"]:focus,
.update>div>div>input[type="email"]:focus,
.update>div>div>input[type="file"]:focus,
.uneditable-input:focus,
select:focus,
option:focus {
    border-color: rgb(169, 127, 7, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(3, 24, 45, 0.6);
    outline: 0 none;
    height: 2rem;
}


.form-control, select{
    border: 1px solid rgb(169, 127, 7);
    height: 2rem;
}

.form-control>.textarea{
    height: 6rem;
}



/* =================================================================================================== */
/* ordersUser */

.userOrderList {
    width: 98%;
}

.userOrderList>table {
    width: 98%;
}


@media (min-width:600px) {
    .userOrderList {
        width: 75%;
    }

    .userOrderList>table {
        width: 75%;
    }
}


.userOrderList>table>tr>th {
    width: 6rem;
}

.userOrderList>table>tr>td {
    width: 6rem;
}


/* =================================================================================================== */
/* catalogue */

.catalog>.box {
    width: 22rem;
    height: 35rem;
}

.catalog>.box>img {
    max-height: 25rem;
}

.gallery>.box {
    width: 25rem;
    height: 20rem;
}

.gallery>.box>img {
    max-width: 24rem;
}

@media (max-width:470px) {
    .catalog>.box {
        width: 18rem;
        height: 35rem;
    }

    .catalog>.box>img {
        max-height: 25rem;
    }

    .gallery>.box {
        width: 20rem;
        height: 20rem;
    }

    .gallery>.box>img {
        max-width: 18rem;
    }
}


/* =================================================================================================== */
/* livre d'or */

.comments {
    width: 20rem;
    height: 19rem;
}

.commentHeader>img {
    width: 6rem;
    height: 6rem;
    object-fit: fill;
    border-radius: 50%;
    border: 1px solid #a47a07;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.commentHeader>div {
    border-bottom: 1px solid #a47a07;
}

.btn-comment{
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1rem;
    height: 2rem;
    color: #a47a07;
}

/* =================================================================================================== */
/* table */
.userOrderList>table {
    border: 1px solid #a47a07;
    border-radius: 1rem;
    overflow: hidden;
}

th {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: lighter;
    color: transparent;
    background: #a47a07;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5);
}

td {
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #a47a07;
    color: transparent;
    background: #03182D;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* text-shadow: 0px 3px 3px rgba(30, 15, 15, 0.5); */
}

td>a>img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}


/* =================================================================================================== */
/* dashboard */


@media (max-width: 1110px) {

    .modeOff,
    .dashboard {
        display: none;
    }
    
}

@media (min-width: 1110px) {
    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .dashboardDisplay{
        display: none;
    }
}


.navDashboard>ul {
    padding-left: 0;
}

.navDashboard>li {
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 1px solid #a47a07;
    border: 1px solid #a47a07;
    font-size: 1.5rem;
    font-family: 'Fondamento';
}

.navDashboard>.active {
    border-top-right-radius: 1px solid 1rem;
    border-top-left-radius: 1px solid 1rem;
    border-bottom: 1px solid #03182D;
    overflow: hidden;

}

.add{
    border-top-right-radius: 1rem;
}

.dashboardUsers {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-left: 1px solid #a47a07;
    border-right: 1px solid #a47a07;
    border-bottom: 1px solid #a47a07;
    overflow: hidden;
}

.dashboardUsers1 {
    border-radius: 1rem;
    border: 1px solid #a47a07;
    overflow: hidden;
   
}


input[type="search"] {
    width: 15rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #A97F07;
    color: #03182D;
    text-align: center;
}

.btn-search {
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 1rem;
    color: #a47a07c3;
    width: 7rem;
    height: 2rem;
}

textarea.form-control, textarea.form-control:focus {
    min-height: 6rem;
}



/* =================================================================================================== */
/* modal delete */

.modal-dialog{
    background-color: #03182D;
    border: 1px solid #a47a07;
    border-radius: 1rem;
    overflow: hidden;
}

.modal-content{
    background-image: url(../img/patternrouge.png),
        linear-gradient(to bottom, #ffebcd, #ffebcd);
    background-repeat: repeat, no-repeat;
    opacity: 0.1, 0.2;
    border: none;
}

.modal-header{
    border-bottom: 1px solid #a47a07;
}


.modal-footer{
    border: none;
}
.btnNo{
    background-color: #03182D;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #a47a07c3;
    width: 5rem;
    height: 3rem;
    font-family: 'Black Clover Font';
}

.btnDelete{
    background-color: #2d0b03;
    border: 1px solid #A97F07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #a47a07c3;
    width: 5rem;
    height: 3rem;
    font-family: 'Black Clover Font';
} 

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #a47a07;
    
}


.btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
}


/* formUpdate */

.formUpdate{
    border-radius: 1rem;
    border-bottom: 1px solid #a47a07;
    border-left: 1px solid #a47a07;
    border-right: 1px solid #a47a07;
}

.formUpdateShort{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid #a47a07;
    border-left: 1px solid #a47a07;
    border-right: 1px solid #a47a07;
}


.formUpdateShort2{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid #a47a07;
    border-left: 1px solid #a47a07;
    border-right: 1px solid #a47a07;
}


/* =================================================================================================== */
/* pagination */

.active>.page-link, .page-link.active {
    border-color: #a47a07c3;
}


.page-link:focus {
    box-shadow: none
}

.pagination {
    height: 36px;
    margin: 18px 0;
    color: #03182D;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: 0;
    color: #a47a07;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
    display: inline;
    color: #03182D;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    color: #03182D;
    text-decoration: none;
    border: 1px solid #a47a07;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
    background-color: #03182D;
    color: #a47a07;
}

.pagination a:focus {
    background-color: #03182D;
    color: #a47a07;
}


.pagination .active a {
    color: #a47a07;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #6d6767;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    color: #03182D;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
    color: #03182D;
}

.pager a {
    display: inline-block;
    padding: 5px 14px;
    color: #03182D;
    background-color: #fff;
    border: 1px solid #a47a07;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager a:hover {
    text-decoration: none;
    background-color: #a47a07;
}

.pager .next a {
    float: right;
}

.pager .previous a {
    float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
}


/* =================================================================================================== */
/* footer */

footer {
    border-top: 7px groove #8a551a;
}


